/* line 17, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../config/sass/screen.scss */
h2 {
  color: Black;
  text-align: center;
}
/* line 13, ../config/sass/screen.scss */
h2.joku {
  color: blue;
}

/* line 18, ../config/sass/screen.scss */
h2:hover {
  background-color: #333333;
}

/* line 22, ../config/sass/screen.scss */
#searchBoxOne {
  font-size: 16px;
  color: #999;
  padding: 6px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: inset 2px 2px 5px #ccc;
  box-shadow: inset 2px 2px 5px #ccc;
  border: 5px solid #b8b8b8;
}

/* line 35, ../config/sass/screen.scss */
#searchBoxTwo {
  font-size: 16px;
  color: #999;
  padding: 6px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: inset 2px 2px 5px #ccc;
  box-shadow: inset 2px 2px 5px #ccc;
  border: 5px solid #b8b8b8;
}

/* line 49, ../config/sass/screen.scss */
.tabs {
  position: absolute;
  min-height: 200px;
  /* This part sucks */
  clear: both;
  margin: 25px 0;
}

/* line 57, ../config/sass/screen.scss */
.tab {
  float: left;
}

/* line 60, ../config/sass/screen.scss */
.tab label {
  background: white;
  padding: 10px;
  border: solid #6495ED;
  margin-left: auto;
  position: relative;
  left: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 71, ../config/sass/screen.scss */
.tab [type=radio] {
  display: none;
}

/* line 75, ../config/sass/screen.scss */
.content {
  position: absolute;
  top: 20px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 13px;
  border: 5px solid #6495ED;
  width: 329px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: white;
  font-size: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #6495ED;
}

/* line 98, ../config/sass/screen.scss */
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 0px solid white;
  z-index: 0;
}

/* line 103, ../config/sass/screen.scss */
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

/* line 107, ../config/sass/screen.scss */
#container {
  width: 480px;
  height: 3px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 115, ../config/sass/screen.scss */
#leftinnercolumn {
  width: 100px;
  height: auto;
  float: none;
  margin: 5px;
  margin-left: auto;
  padding: 5px;
  background: #F0F8FF;
  font-size: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 129, ../config/sass/screen.scss */
.clear {
  clear: both;
}
