@charset "UTF-8";
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../config/sass/screen.scss */
body {
  font-family: "Arial", sans-serif;
  min-width: 480px;
}
/* line 10, ../config/sass/screen.scss */
body #wrapper {
  width: 100%;
}

/* line 15, ../config/sass/screen.scss */
a, a:visited {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-transition: text-decoration 0.2s ease-in-out;
  -moz-transition: text-decoration 0.2s ease-in-out;
  -o-transition: text-decoration 0.2s ease-in-out;
  transition: text-decoration 0.2s ease-in-out;
  color: #1e8ce6;
  text-decoration: none;
}

/* line 21, ../config/sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* GENERAL BLOCKS */
/* line 27, ../config/sass/screen.scss */
.block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 30px;
}
/* line 31, ../config/sass/screen.scss */
.block .container {
  width: 100%;
  max-width: 900px;
  position: relative;
  margin: 0 auto;
}

/* TYPOGRAPHY */
/* line 41, ../config/sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

/* line 47, ../config/sass/screen.scss */
h3, h4, h5 {
  font-family: "Arial", sans-serif;
  text-transform: none;
  margin-bottom: 10px;
  margin-top: 25px;
}

/* line 54, ../config/sass/screen.scss */
h1 {
  font-size: 300%;
}

/* line 55, ../config/sass/screen.scss */
h2 {
  font-size: 250%;
}

/* line 56, ../config/sass/screen.scss */
h3 {
  font-size: 150%;
}

/* line 57, ../config/sass/screen.scss */
h4 {
  font-size: 130%;
}

/* line 58, ../config/sass/screen.scss */
h5 {
  font-size: 110%;
}

/* line 59, ../config/sass/screen.scss */
h6 {
  font-size: 100%;
}

/* line 61, ../config/sass/screen.scss */
p {
  font-family: "Arial", sans-serif;
  margin-top: 10px;
}

/* line 66, ../config/sass/screen.scss */
em, i {
  font-style: italic;
}

/* line 70, ../config/sass/screen.scss */
strong, b {
  font-style: 400;
}

/* HEADER */
/* line 76, ../config/sass/screen.scss */
header.main {
  height: 60px;
  background-color: #506e8c;
}
/* line 79, ../config/sass/screen.scss */
header.main .container {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
/* line 84, ../config/sass/screen.scss */
header.main .container:after {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
  content: '';
  height: 0;
  font-size: 0;
  line-height: 0;
}
/* line 96, ../config/sass/screen.scss */
header.main.block {
  padding: 0 30px;
}
/* line 100, ../config/sass/screen.scss */
header.main .app-header {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 103, ../config/sass/screen.scss */
header.main .app-header .app-name {
  font-weight: 700;
  color: white;
  font-size: 140%;
  text-transform: uppercase;
}
/* line 111, ../config/sass/screen.scss */
header.main #user-panel {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: #2b3b4b;
}
@media (max-width: 900px) {
  /* line 111, ../config/sass/screen.scss */
  header.main #user-panel {
    margin-right: -30px;
  }
}
/* line 120, ../config/sass/screen.scss */
header.main #user-panel .avatar {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 0;
}
/* line 127, ../config/sass/screen.scss */
header.main #user-panel .username {
  padding: 0 20px;
}
/* line 131, ../config/sass/screen.scss */
header.main #user-panel .activity {
  padding: 0 20px;
}
/* line 135, ../config/sass/screen.scss */
header.main #user-panel .avatar, header.main #user-panel .username, header.main #user-panel .activity {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 140, ../config/sass/screen.scss */
header.main p {
  margin: 0;
}
/* line 141, ../config/sass/screen.scss */
header.main a, header.main a:link {
  text-decoration: none;
}

/* NAV */
/* line 146, ../config/sass/screen.scss */
nav {
  background-color: #0a0a0a;
  padding: 0 30px 0 30px !important;
}
/* line 150, ../config/sass/screen.scss */
nav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 153, ../config/sass/screen.scss */
nav li a {
  display: block;
  padding: 12px 20px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
}
/* line 159, ../config/sass/screen.scss */
nav li a:link, nav li a:visited {
  background-color: #0a0a0a;
  color: #8a8a8a;
}
/* line 164, ../config/sass/screen.scss */
nav li a:hover, nav li a.active {
  background-color: #303030;
  color: #d6d6d6;
}

/* line 176, ../config/sass/screen.scss */
.wrapper {
  width: 550px;
  text-align: justify;
  background: firebrick;
  font-size: 0;
  font-size: 12px\9;
  /* IE6-9 only hack */
}

/* line 184, ../config/sass/screen.scss */
.wrapper div {
  background: white;
  display: inline-block;
  font-size: 12px;
  zoom: 1;
  *display: inline;
}

/* line 193, ../config/sass/screen.scss */
.wrapper:after {
  content: "";
  width: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 10, ../config/sass/messages.scss */
.questions .question:not(:last-child) {
  margin-bottom: 30px;
}

/* line 16, ../config/sass/messages.scss */
.answers {
  margin-top: 40px;
}
/* line 18, ../config/sass/messages.scss */
.answers h3 {
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 7px;
  border-bottom: 1px solid #c8c8c8;
}
/* line 25, ../config/sass/messages.scss */
.answers .answer {
  padding-bottom: 30px;
  border-bottom: 1px solid #c8c8c8;
}

/* line 31, ../config/sass/messages.scss */
.votes {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 36, ../config/sass/messages.scss */
.votes .vote {
  width: 48px;
  text-align: center;
  vertical-align: middle;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 44, ../config/sass/messages.scss */
.votes .vote .amount {
  font-size: 100%;
  font-weight: 700;
  color: #6b6b6b;
  margin-top: 6px;
}
/* line 52, ../config/sass/messages.scss */
.votes .thumb {
  padding: 7px;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
}
/* line 60, ../config/sass/messages.scss */
.votes .down .thumb {
  border-color: #eb8784;
  background-color: #eb8784;
}
/* line 64, ../config/sass/messages.scss */
.votes .up .thumb {
  border-color: #7dcb63;
  background-color: #9dd889;
}

/* line 70, ../config/sass/messages.scss */
.message-block {
  margin: 30px 0;
  position: relative;
  padding-left: 120px;
}
/* line 73, ../config/sass/messages.scss */
.message-block:first-child, .message-block.question {
  margin-top: 0;
}
/* line 74, ../config/sass/messages.scss */
.message-block:last-child, .message-block.answers {
  margin-bottom: 0;
}
/* line 79, ../config/sass/messages.scss */
.message-block .topic {
  font-size: 180%;
  font-weight: 700;
  color: #1e1e1e;
}
/* line 86, ../config/sass/messages.scss */
.message-block header h1, .message-block header h2, .message-block header h3, .message-block header .topic, .message-block .question-header h1, .message-block .question-header h2, .message-block .question-header h3, .message-block .question-header .topic {
  margin-bottom: 5px;
}
/* line 91, ../config/sass/messages.scss */
.message-block .comments {
  background-color: #f7f7f7;
  margin-top: 20px;
  padding: 15px;
  font-size: 90%;
}
/* line 99, ../config/sass/messages.scss */
.message-block .comments h4 {
  font-size: 120%;
  font-weight: 700;
  margin-top: 0;
  padding-top: 0;
}
/* line 106, ../config/sass/messages.scss */
.message-block .comments .comment {
  padding-top: 10px;
}
/* line 108, ../config/sass/messages.scss */
.message-block .comments .comment:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px dotted #c8c8c8;
}
/* line 113, ../config/sass/messages.scss */
.message-block .comments .comment p {
  display: inline;
}
/* line 117, ../config/sass/messages.scss */
.message-block .comments .comment .username {
  margin-left: 5px;
}
/* line 119, ../config/sass/messages.scss */
.message-block .comments .comment .username:before {
  content: "– ";
}
/* line 123, ../config/sass/messages.scss */
.message-block .comments .comment .date {
  margin-left: 5px;
  color: #a0a0a0;
}
/* line 130, ../config/sass/messages.scss */
.message-block footer {
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  text-align: right;
  font-size: 80%;
  color: #a0a0a0;
  overflow: hidden;
  *zoom: 1;
}
/* line 139, ../config/sass/messages.scss */
.message-block footer a, .message-block footer a:visited {
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  color: #a0a0a0;
  text-decoration: none;
  font-weight: bold;
}
/* line 145, ../config/sass/messages.scss */
.message-block footer a:hover {
  color: #606060;
}
/* line 148, ../config/sass/messages.scss */
.message-block footer .buttons {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: left;
}
/* line 152, ../config/sass/messages.scss */
.message-block footer .asked {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: right;
}
/* line 157, ../config/sass/messages.scss */
.message-block footer li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 159, ../config/sass/messages.scss */
.message-block footer li:not(:first-child) {
  margin-left: 10px;
}

/* line 166, ../config/sass/messages.scss */
.tags {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* line 171, ../config/sass/messages.scss */
.tags li, .tag {
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  -webkit-transition: border 0.1s ease-in-out;
  -moz-transition: border 0.1s ease-in-out;
  -o-transition: border 0.1s ease-in-out;
  transition: border 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  color: #547392;
  background-color: #eff3f6;
  border: 1px solid #cfd9e3;
  font-size: 75%;
  font-weight: 700;
  padding: 4px 7px;
  margin: 3px 3px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 186, ../config/sass/messages.scss */
.tags li:before, .tag:before {
  content: "# ";
}
/* line 188, ../config/sass/messages.scss */
.tags li:first-child, .tag:first-child {
  margin-left: 0;
}
/* line 192, ../config/sass/messages.scss */
.tags li:hover, .tag:hover {
  cursor: pointer;
  background-color: #d9e1e9;
  color: #415a72;
  border: 1px solid #aec0d1;
}
