<h2>Kirjaudu sisään</h2>
<form ng-submit="login(user)">
  <input type="text" id="username" name="username" placeholder="Käyttäjänimi" ng-model="user.username" required>

  <br>
  <input type="password" id="password" name="password" ng-model="user.password" placeholder="Salasana" required><br>

  <div ng-show="error" class="error message">
    <p>Käyttäjänimi tai salasana oli väärin.</p>
  </div>

  <input class="button emphasis-1" type="submit" id="submit" name="submit" value="Kirjaudu">
</form>
<hr />
<footer>
  <a href="/login/forgot" class="password-forget">Unohtuiko salasana?</a>
</footer>
