<h2>Unohditko salasanasi?</h2>
<p>Kirjoita sähköpostiosoitteesi alla olevaan kenttään, niin lähetämme sähköpostiisi linkin salasanan resetointia varten.</p>
<form>
  <input type="email" id="email" name="user.email" placeholder="Sähköpostiosoite" ng-model="email" required><br>

  <div class="error message">
    <p>Sähköpostiosoiteella ei löytynyt tunnusta.</p>
  </div>

  <input class="button green" type="submit" id="submit" name="submit" value="Lähetä">
</form>
<hr>
<footer>
  <a href="/login">Kirjautumiseen</a>
</footer>
