<div id="wrapper">
  <header class="main block">
    <div class="container">
      <div class="app-header">
        <a href="/">
          <h2 class="app-name">Kiitti Q&amp;A</h2>
        </a>
      </div>
      <div id="user-panel">
        <img src="" class="avatar" alt="Wingo">
        <p class="activity">16</p>
        <p class="username">Wingo</p>
      </div>
    </div>
    <div style="clear:both"></div>
  </header>

  <nav class="block">
    <div class="container">
      <ul>
        <li><a href="popular" class="active">Suositut</a></li
        ><li><a href="new">Uudet</a></li
        ><li><a href="interesting">Kiinnostavat</a></li
        ><li><a href="browse">Selaa</a></li>
      </ul>
    </div>
  </nav>

  <section id="main-content">
    <div ui-view></div>
  </section>
</div>
