<header id="main-header" class="block">
  <div class="container">
    <div class="cell">
      <div class="logo">
        <img src="images/logo_kiitti.png" alt="Kiitti">
      </div>
    </div>
    <div class="cell" style="text-align: right;">
      <nav>
        <a href="/add"><button id="upload-button"><i class="fa fa-pencil"></i><span>Uusi kysymys</span></button></a>
        <a href=""><button id="login-button"><i class="fa fa-user"></i><span ng-bind="user.username"></span><i class="fa fa-caret-down"></i></button></a>
      </nav>
    </div>
  </div>
</header>

<section id="main-content" class="block">
  <div class="container">
    <div ui-view></div>
  </div>
</section>
