<header id="main-header" class="block">
  <div class="table">
    <div class="container row">
      <div class="cell">
        <div class="logo">
          <a href="/"><img src="images/logo_kiitti-inverse.png" alt="Kiitti"></a>
        </div>
      </div>
      <div class="cell" style="text-align: right;">
        <nav>
          <ul>
            <li>
              <a href="/questions">
                <span><i class="fa fa-bars"></i> Selaa</span>
              </a>
            </li
            ><li>
              <a href="/question/new">
                <span><i class="fa fa-pencil"></i> Uusi kysymys</span>
              </a>
            </li
            ><li ng-if="user">
              <a href="">
                <span><i class="fa fa-user"></i> <span ng-bind="user.username"></span> <i class="fa fa-angle-down"></i></span>
              </a>
              <div class="dropdown">
                <ul>
                  <li><a href=""><i class="fa fa-pencil-square-o"></i> Omat kysymykset</a></li>
                  <li><a href=""><i class="fa fa-reply-all"></i> Omat vastaukset</a></li>
                  <li><a href=""><i class="fa fa-gear"></i> Asetukset</a></li>
                  <li><a href="/logout"><i class="fa fa-unlock-alt"></i> Kirjaudu ulos</a></li>
                </ul>
              </div>
            </li
            ><li ng-if="!user">
              <a href="/login">
                <span><i class="fa fa-lock"></i> <span>Kirjaudu</span></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<section id="main-content" class="block">
  <div kt-messages></div>
  <div class="container" ui-view>
  </div>
</section>
