<div id="questions">
  <h1>Kysymykset</h1>

  <div ng-repeat="question in data.questions" class="single-question table" ng-init="showContent=false">
    <aside class="votes cell">
      <div class="votes-container" ng-bind="question.meta.votes"></div>
    </aside>
    <header class="cell">
      <h2><a href="/question/{{question.rid}}" ng-bind="question.title"></a></h2>
      <p ng-bind="question.message.content | slice:{length:150}"></p>
    </header>
    <section class="content cell" ng-show="showContent">
      <div ng-bind="question.message.content"></div>
    </section>
  </div>
</div>
