<section class="conversation">

  <div class="question">
    <h1 class="topic" ng-bind="question.topic"></h1>
    <div ng-include src="'templates/partial_conversation.message.html'" ng-init="message=question"></div>
  </div>

  <div class="answers">
    <h2>Vastaukset</h2>
    <div ng-repeat="message in question.answers">
      <div ng-include src="'templates/partial_conversation.message.html'"></div>
    </div>
  </div><!--/answers-->

  <div class="new-answer">
    <h2>Lisää vastaus</h2>
    <form ng-controller="SubmitAnswerController">
      <div id="from">
        <label for="username">Käyttäjänimi:</label>
        <input type="text" id="username" name="username" ng-model="user.username" />
      </div>
      <label for="message">Viesti:</label>
      <textarea id="message" name="message" ng-model="message"></textarea>
      <button type="submit" ng-click="send()">Lähetä</button>
    </form>
  </div>

</section>
