<section class="block">
<div class="container">

  <div class="message-block question">
    <div qna-votes votes-up="question.votes_up" votes-down="question.votes_down"></div>

    <header>
      <h1 class="topic">{{question.topic}}</h1>
      <ul class="tags">
        <li ng-repeat="tag in question.tags">{{tag}}</li>
      </ul>
    </header>

    <div class="content">
      <p>{{question.content}}</p>
    </div>

    <div class="comments" ng-show="question.comments">
      <h4>Kommentit</h4>
      <div qna-comment comment="comment" ng-repeat="comment in question.comments"></div>
    </div>

    <footer>
      <div class="buttons">
        <ul>
          <li><a href="#">Vastaa</a></li>
          <li><a href="#">Kommentoi</a></li>
        </ul>
      </div>
      <div class="asked">asked <span class="date-posted">{{question.date}}</span> by <span class="username"><a href="#">{{question.user.username}}</a></span></div>
    </footer>
  </div><!--/message-block-->

  <div class="answers">
    <h3>Vastaukset</h3>
    <div ng-repeat="answer in question.answers" class="answer message-block">
      <div qna-votes votes-up="answer.votes_up" votes-down="answer.votes_down"></div>

      <header>
        <p class="user">{{answer.username}}</p>
      </header>

      <div class="content">
        <p class="content">{{answer.content}}</p>
      </div>

      <div class="comments" ng-show="answer.comments">
        <h4>Kommentit</h4>
        <div qna-comment comment="comment" ng-repeat="comment in answer.comments"></div>
      </div>
    </div><!--/message-block-->
  </div><!--/answers-->

  <div class="new-answer">
    <h3>Lisää vastaus</h3>
    <form ng-controller="SubmitAnswerController">
      <div id="from">
        <label for="username">Käyttäjänimi:</label>
        <input type="text" id="username" name="username" ng-model="user.username" />
      </div>
      <label for="message">Viesti:</label>
      <textarea id="message" name="message" ng-model="message"></textarea>
      <button type="submit" ng-click="send()">Lähetä</button>
    </form>
  </div>

</div>
</section>
