<div id="questions">
  <h1>Kysymykset</h1>

  <div ng-repeat="question in data.questions" class="single-question table" ng-init="showContent=false">
    <aside class="votes cell">
      <div class="votes-container" ng-init="question.totalvotes = question.votes_up - question.votes_down">
        <span class="amount" ng-bind="question.totalvotes"></span>
        <span class="text"
              ng-pluralize
              count="question.totalvotes"
              when="{'1': 'ääni',
                     '-1': 'ääni',
                     'other': 'ääntä'}">
              </span>
      </div>
      <div class="votes-container">
        <span class="amount" ng-bind="question.answer_amount"></span>
        <span class="text"
              ng-pluralize
              count="question.totalvotes"
              when="{'1': 'vastaus',
                     'other': 'vastausta'}">
              </span>
      </div>
    </aside>
    <section class="content cell">
      <header>
        <h2><a href="/question/{{question.rid}}/{{question.slug}}" ng-bind="question.title"></a></h2>
        <p class="date" ng-bind="question.created | date:'dd.MM.yyyy hh:mm'"></p>
        <p ng-bind="question.message.content | stripHTML | slice:{length:150}"></p>
      </header>
      <section class="content cell" ng-show="showContent">
        <div ng-bind="question.message.content"></div>
      </section>
    </section>
  </div>
</div>
