@import "compass/css3";
@import "compass/typography/text/nowrap";
@import "compass/utilities/general/clearfix";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Open+Sans:400italic,600italic,300,400,700|Arvo:400,700,400italic,700italic);

/* MIXINS */

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

/* VARIABLES */

$break-narrow: 480px;
$break-full: 1060px;

$page-max-width: 900px;
$page-min-width: 500px;
$page-padding-horizontal: 30px;

$color-link: rgb(30, 140, 230);

$color-text-muted: rgb(187,180,161);
$color-light-text: rgb(255,255,255);
$color-nav: rgb(10,10,10);

$color-positive: rgb(75,150,50);
$color-negative: rgb(220,50,45);
$color-separator: rgb(200,200,200);

$color-text: rgb(79,73,61); // dark brown
$color-background: rgb(255,251,242); // light brown
$color-background-light: $color-background;
$color-background-dark: rgb(224,215,195); // (a bit) darker brown
$color-emphasis-1: rgb(63,135,94); // green
$color-emphasis-2: rgb(220,93,88); // red
$color-emphasis-3: rgb(39,146,180); // blue
$color-main-emphasis: $color-emphasis-1; // deprecated
$color-tag: lighten($color-main-emphasis, 52);

$block-padding-vertical: 40px; // deprecated
$block-padding-horizontal: 30px; // deprecated

$font-stack: 'Open Sans', sans-serif;
$font-header: 'Open Sans Condensed', sans-serif;
$font-paragraph: 'Arvo', serif;

$header-height: 60px;

$default-border-radius: 3px;

$color-button: red;
