@import "compass/css3";
@import "compass/typography/text/nowrap";
@import url(http://fonts.googleapis.com/css?family=Economica:400,700);

/* MIXINS */

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

/* VARIABLES */

$break-narrow: 480px;
$break-full: 1060px;

$page-max-width: 900px;
$page-min-width: 330px;

$color-main-emphasis: rgb(80,110,140);
$color-link: rgb(30, 140, 230);
$color-text: rgb(30,30,30);
$color-text-muted: rgb(160,160,160);
$color-light-text: rgb(255,255,255);
$color-nav: rgb(10,10,10);
$color-tag: lighten($color-main-emphasis, 52);
$color-background: rgb(245,252,255);
$color-positive: rgb(75,150,50);
$color-negative: rgb(220,50,45);
$color-separator: rgb(200,200,200);

$color-background-light: rgb(233,243,245);
$color-emphasis-1: rgb(0,145,105);
$color-emphasis-2: rgb(240,70,75);

$block-padding-vertical: 40px;
$block-padding-horizontal: 30px;

$font-stack: 'Arial', sans-serif;
$font-header: 'Economica', sans-serif;
$font-paragraph: $font-stack;

$header-height: 60px;

$default-border-radius: 3px;

$color-button: red;
