@import "_base";

/* SEARCH BAR RESET */

/*
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
//input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration  {
  -webkit-appearance: none;
}
*/

form {

  & > label, input, textarea,
  button, .button, input[type="submit"] {
    margin: 10px 0;
  }

  label {
    color: $color-emphasis-2;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  input, textarea, .input {
    @include box-sizing(border-box);
    @include box-shadow(white 0 0 0);

    min-width: 200px;
    max-width: 400px;
    width: 100%;
    margin: 4px 0;

    border: 1px solid $color-input-border;
    outline-color: rgb(220,220,220);

    padding: 4px 5px;
    font-size: 1.1em;
    font-weight: 300;
    color: $color-text;
    background-color: white;

    @include input-placeholder {
      color: $color-text;
      font-weight: 300;
    }
  }
}

form.add-answer {
  margin: 20px 0;
}

div.search {

  margin: 10px 0;
  height: 32px;

  input[type="search"], .search-field {
    width: 200px;
    height: 100%;
    @include box-sizing(border-box);

    margin: 0 !important;
    padding: 7px 4px;

    @include border-radius($default-border-radius 0 0 $default-border-radius);
    border: 1px solid $color-separator;
    font-size: 0.9em;

    &:focus {
      @include box-shadow(white 0 0 0);
      outline: none;
    }
  }

  button.search-button {
    padding: 0;
    margin: 0;
    height:100%;;
    width:32px;
    @include box-sizing(border-box);

    @include border-radius(0 $default-border-radius $default-border-radius 0);
    border: none;
    cursor: pointer;
    color:white;
    background-color: $color-button;
    position:relative;

    font-size: 16px;
  }
}
