@import "_base";

/* VERTICAL ALIGN */

.middle-horizontal {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;

  @media (max-width: $break-narrow) {
    display: block;
  }

  .middle-vertical {
    margin: 0;
    padding: 0;

    display: table-cell;
    vertical-align: middle;
    text-align: center;

    @media (max-width: $break-narrow) {
      display: block;
    }

    .middle-content {
      display: inline-block;
      margin: 0 auto;
    }

    @media (max-width: $break-narrow) {
      display: block;
    }
  }
}

/* LOGIN STYLE */

#login {
  background-color: $color-background-light;

  h2 {
    font-size: 1.8em;
  }
  p { margin: 15px 0;}

  form {
    margin: 15px 0;
  }

  @media (min-width: $break-narrow+1) {
    padding: 60px 0;
    background: image-url("background-login.jpg") no-repeat center center fixed;
    @include background-size(cover);
  }
}

#login #content {
  @media (min-width: $break-narrow+1) {
    padding: 30px;
  }

  @media (max-width: $break-narrow) {
    padding: 30px 0 30px 0;
  }

}

#login .middle-content {

  @media (min-width: $break-narrow+1) {
    max-width: 400px;
    margin-top: -60px;

    @include border-radius;
    @include box-shadow(rgba(0,0,0,0.3) 0 0 60px);
  }

  @media (max-width: $break-narrow) {
    width: 100%;
  }

  hr {
    margin: 15px 0;
    border-color: $color-background-dark;
  }
  background-color: $color-background-light;
}

#login header {
  #logo {
    width: 100px;
  }
}

#login form {
  input[type="email"], input[type="password"], input[type="text"] {
    width: 300px;
  }
}

#login footer {
  a, a:visited {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    color: darken($color-link, 30);
  }
  a:hover {
    color: darken($color-link, 50);
  }
}
