@import "compass/reset";
@import "_base";

/*
 * Base styles
 */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-background;
  font-family: $font-stack;
  min-width: 240px;
  color: $color-text;
}

/* BUILDING BLOCKS */

.block {
  @media (min-width: $break-narrow+1) {
    padding: 0 $page-padding-horizontal;
  }
  @media (max-width: $break-narrow) {
    padding: 0 $page-padding-horizontal/2;
  }
}

@include layout(55em 12 0.5 fluid);

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;

  @include border-box-sizing;
  @include container;
  //overflow: hidden;

  & > section {
    @include span(12 fluid nobreak isolate box-sizing);
    float: none;
    padding-right: span(2 static inside-static);
  }

  & > aside {
    @include span(2 static isolate right rtl inside-static nobreak box-sizing);
  }
}

.table {
  @include box-sizing(border-box);
  display: table;
  width: 100%;
  height: 100%;
}
.row {
  @include box-sizing(border-box);
  display: table-row;
}
.cell {
  @include box-sizing(border-box);
  display: table-cell;
  vertical-align: middle;
}

/***/

hr {
  border-top: 2px solid $color-background-dark;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
  padding: 0;
}

a, a:visited {
  @include transition(color 0.2s ease-in-out);
  @include transition(text-decoration 0.2s ease-in-out);
  color: $color-link;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-weight: 700;
  color: $color-emphasis-2;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 3px;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 3px;
}

p {
  font-family: $font-paragraph;
}

em {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}

blockquote {
  border-left: 3px solid $color-background-dark;
  padding-left: 5px;
  font-size: 0.9em;
}

pre {
  font-family: $font-code;
  font-size: 0.85em;
  padding: 3px;
  background-color: rgba(0,0,0,0.05);
}

/* HEADER */

/* SECTIONS */

#main-view {
  height: 100%;
}

#main-header {
  background-color: $color-emphasis-1;
  color: white;

  @media (min-width: $break-narrow+1) {
    height: 60px;
    text-align: left;
  }
  @media (max-width: $break-narrow) {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  div, h1, h2, ul, li, a, p, button, nav { vertical-align: middle; } // hairline-fix
  white-space: nowrap; // prevent inline-blocks from wrapping

  .container {
    height: 100%;
    width: 100%;
    max-width: inherit; // override for full width
  }

  .logo img {
    height: 35px;
  }

  nav, .nav {
    @include inline-block;
    @include box-sizing(border-box);
    height: 100%;
    font-size: 1.0em;

    @media (min-width: $break-narrow+1) {
      padding-left: 20px;
    }

    & > div {
      display: inline-block;
    }

    &, ul, li {
      @include box-sizing(border-box);
      @include inline-block;
      height: 100%;
    }

    li {
      position: relative;

      a {
        @extend .table;
        height: 100%;
        margin: none;
        padding: 15px 20px;

        color: white;
        text-decoration: none;
        font-weight: 300;

        & > span {
          @extend .cell
        }
        &:hover {
          background-color: lighten($color-emphasis-1, 5);
          color: white;
        }
        i {
          font-size: 1.2em;
          margin-right: 4px;
          &.fa-angle-down {
            margin-left: 5px;
          }
        }
      }
      .dropdown {
        z-index: 20;
        position: absolute;
        top: 60px;
        right: 0;
        display: none;
        background-color: $color-emphasis-1;

        margin: none;
        padding: none;

        i {
          margin-left: none;
          padding-left: none;
        }

        li {
          min-width: 150px;
          display: block;
          a {
            display: block;
          }
        }
      }
      &:hover .dropdown {
        @include inline-block;
      }
    }
  }

  /* RESPONSIVE */
  @media (max-width: $break-narrow) {
    .cell {
      display: block;
      text-align: center !important;
    }
    li {
      display: block;
      padding: 10px 0 10px 0;
    }
  }
}

#main-content {
  //min-width: $page-min-width;
  //max-width: $page-max-width;
  @include clearfix;
}

#new-question {
  //max-width: 670px;
}
