@import "compass/reset";
@import "_base";

/*
 * Base styles
 */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-background;
  font-family: $font-stack;
  min-width: 240px;
}

/* BUILDING BLOCKS */

.block {
  padding: 0 $page-padding-horizontal;
  @media (max-width: $break-narrow) {
    padding: 0 $page-padding-horizontal/2;
  }
}

.container {
  margin: 0 auto;
  & > section, & > div, & > header, & > footer, p, ul {
    text-align: left;
  }
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

/***/

hr {
  border-top: 1px solid rgb(220,220,220);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
  padding: 0;
}

a, a:visited {
  @include transition(color 0.2s ease-in-out);
  @include transition(text-decoration 0.2s ease-in-out);
  color: $color-link;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-weight: 700;
  color: $color-emphasis-2;
}

h3, h4, h5 {
  text-transform: none;
  margin-bottom: 10px;
  margin-top: 25px;
}

p {
  font-family: $font-paragraph;
}

em, i {
  font-style: italic;
}

strong, b {
  font-style: 600;
}

/* HEADER */

/* SECTIONS */

header#main-header {
  background-color: $color-emphasis-1;
  color: white;

  @media (min-width: $break-narrow+1) {
    height: 60px;
    text-align: left;
  }
  @media (max-width: $break-narrow) {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  border-bottom: 1px solid darken(rgb(245,245,245), 5);
  white-space: nowrap; // prevent inline-blocks from wrapping

  .container {
    display: table;
    height: 100%;
    width: 100%;
    max-width: inherit; // override for full width
  }

  .logo img {
    height: 30px;
  }

  nav {

    font-size: 1.2em;

    @media (min-width: $break-narrow+1) {
      padding-left: 20px;
    }

    & > div {
      display: inline-block;
    }

    button {
      color: white;
      border: none;
      margin: 0px 5px;
      &:last-child { margin-right: 0; }
      &:first-child { margin-left: 0; }
      font-weight: 300;
      font-family: $font-stack;
      text-transform: none;
      i {
        &:first-child {margin-right: 8px;}
        &:last-child {margin-left: 6px;}

        font-size: 1.2em;
      };
    }

    ul {
      height: 100%;
      display: table;
    }

    li {
      height: 100%;
      display: table-cell;
      vertical-align: middle;

      &.active a, a:hover {
        color: $color-emphasis-1;
      }
      a {
        padding: 10px 10px;
      }
    }
  }

  /* RESPONSIVE */
  @media (max-width: $break-narrow) {
    .cell {
      display: block;
      text-align: center !important;
    }
    li {
      display: block;
      padding: 10px 0 10px 0;
    }
  }
}

#main-content {
  @include clearfix;
  .container {
    min-width: $page-min-width;
    max-width: $page-max-width;
    margin: 30px auto;
    text-align: center;
  }
}
