@import "_base";

/* customer message content styling */
.message-block .content,
.ta-editor {
  &, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: $font-message;
    color: $color-text;
  }

  h1 {
    font-size: 1.25em;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1.175em;
    margin-bottom: 6px;
  }
  h3 {
    font-size: 1.1em;
    margin-bottom: 4px;
  }
  h4, h5, h6 {
    font-size: 1.0em;
    margin-bottom: 2px;
  }

  p {
    margin-bottom: 5px;
  }

  pre {
    @include box-sizing(border-box);
    padding: 8px;
    margin: 10px 0;
  }
}
