@import "_base";

.single-question {
  padding: 15px 0;
  &:not(:last-of-type) { border-bottom: 1px solid $color-background-dark; }

  .content {
    word-wrap: break-word;
    max-width: $page-container-max-width - 60;
    vertical-align: top;

    padding-left: 10px;
    margin-top: 10px;
  }

  h2 {
    a {
      color: $color-emphasis-2;
      font-size: 0.8em;
      font-family: $font-stack;
      font-weight: 600;
    }
  }

  .votes {
    width: 150px;
    min-width: 150px;

    .text {
      font-size: 0.75em;
    }
    .amount {
      font-size: 1.2em;
      display: block;
    }
  }

  .date {
    color: $color-text-muted;
    font-size: 0.9em;
    margin: 5px 0 10px 0;
    display: block;
  }
}

.votes-container {
  width: 65px;
  min-width: 65px;
  text-align: center;
  display: inline-block;
  padding: 5px;
}
