@import "compass/reset";
@import "_base";

body {
  font-family: $font-stack;
  min-width: 480px;

  #wrapper {
    width: 100%;
  }
}

a, a:visited {
  @include transition(color 0.2s ease-in-out);
  @include transition(text-decoration 0.2s ease-in-out);
  color: $color-link;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* GENERAL BLOCKS */

.block {
  @include box-sizing(border-box);
  padding: $block-padding-vertical $block-padding-horizontal;

  .container {
    width: 100%;
    max-width: $page-max-width;
    position: relative;
    margin: 0 auto;
  }
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-weight: 400;
  //text-shadow: 3px 3px 0 darken($color-emphasis, 50);
}

h3, h4, h5 {
  font-family: $font-paragraph;
  text-transform: none;
  margin-bottom: 10px;
  margin-top: 25px;
}

h1 { font-size: 300%; }
h2 { font-size: 250%; }
h3 { font-size: 150%; }
h4 { font-size: 130%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; }

p {
  font-family: $font-paragraph;
  margin-top: 10px;
}

em, i {
  font-style: italic;
}

strong, b {
  font-style: 400;
}

/* HEADER */

header.main {
  height: $header-height;

  .container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

    &:after {
      @include inline-block;
      width: 100%;
      content: '';
      height: 0;
      font-size:0;
      line-height:0;
    }
  }

  background-color: $color-main-emphasis;

  &.block {
    padding: 0 $block-padding-horizontal;
  }

  .app-header {
    @include inline-block;

    .app-name {
      font-weight: 700;
      color: $color-light-text;
      font-size: 140%;
      text-transform: uppercase;
    }
  }

  #user-panel {
    @include inline-block;
    background-color: darken($color-main-emphasis, 20);

    // remove padding
    @media (max-width: $page-max-width) {
      margin-right: -$block-padding-horizontal;
    }

    .avatar {
      width: $header-height;
      height: $header-height;
      background-color: white;
      border: 0;
    }

    .username {
      padding: 0 20px;
    }

    .activity {
      padding: 0 20px;
    }

    .avatar, .username, .activity {
      @include inline-block;
    }
  }

  p { margin: 0; }
  a, a:link { text-decoration: none; }
}

/* NAV */

nav {
  background-color: $color-nav;
  padding: 0 $block-padding-horizontal 0 $block-padding-horizontal !important;

  li {
    @include inline-block; // needs line-break-hack to avoid invisible margin

    a {
      display: block;
      padding: 12px 20px;

      @include transition(color 0.2s ease-in-out);
      @include transition(background-color 0.2s ease-in-out);
      &:link, &:visited {
        background-color: $color-nav;
        color: lighten($color-nav, 50);
      }
      text-decoration: none;
      &:hover, &.active {
        background-color: lighten($color-nav, 15);
        color: lighten($color-nav, 80);
        text-decoration: none;
      }
    }
  }

  ul {
    //margin-left: -20px;
  }
}

.wrapper{
  width: 550px;
  text-align: justify;
  background: firebrick;
  font-size: 0;
  font-size: 12px\9; /* IE6-9 only hack */
}

.wrapper div {
  background: white;
  display: inline-block;
  font-size: 12px;

  zoom: 1;
  *display: inline;
}

.wrapper:after{
  content: "";
  width: 100%;
  display: inline-block;

  zoom: 1;
  *display: inline;
}
