@import "_base";

.tags {
  margin-top: 3px;
  margin-bottom: 3px;

  .tag {
    margin: 5px 0;
  }
}

.tags li, .tag {
  @include transition(padding 0.15s ease-in-out);

  letter-spacing: 1.3;
  color: white;
  background-color: $color-tag;
  //border: 1px solid darken($color-tag, 10);

  font-size: 0.8em;
  font-family: $font-stack;
  font-weight: 400;
  padding: 6px 8px;

  display: inline-block;
  &:before { content: "#" };

  &:first-child {
    margin-left: 0;
  }

  position: relative;

  i {
    @include transition(opacity 0.3s ease-in-out);
    @include opacity(0);
    position: absolute;
    right: 5px;
  }

  &:hover {
    cursor: pointer;
    i {
      @include opacity(1);
    }
    padding-right: 20px;
    //background-color: darken($color-tag, 7);
    //color: darken($color-tag, 60);
    //border: 1px solid darken($color-tag, 20);
  }
}
