@import "_base";

/* textAngular */

.ta-root {
  margin: 5px 0;
  button {
    @include transition(background-color 0.2s ease-in-out);

    padding: 4px 6px;
    margin: 0;
    border: 1px solid darken($color-background-dark, 10);

    background-color: $color-background-dark;
    color: $color-text;
    &:hover, &.active {
      background-color: $color-text;
      color: white;
    }

  }

  .ta-text {
    padding: 10px 10px;
    margin: 10px 0 0 0;
    min-height: 200px;
    background-color: white;
    border: 1px solid $color-input-border;
    @include box-shadow(#e7e7e7 0 1px 3px inset);


    &:focus {
      outline: none;
    }
  }

  .btn-group {
    margin: 5px 0;
    padding: 0;
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
    button:not(:last-of-type) {
      border-right: none;
    }
  }
}
