@import "_base";

/* textAngular */

.ta-root {
  button {
    @include transition(background-color 0.2s ease-in-out);

    padding: 4px 6px;
    margin: 0;
    border: 1px solid darken($color-background-dark, 10);

    background-color: $color-background-dark;
    color: $color-text;
    &:hover {
      background-color: $color-text;
      color: white;
    }
  }

  .ta-text {
    padding: 5px;
    margin: 10px 0;
    min-height: 200px;
    background-color: white;
    border: 1px solid $color-input-border;

    color: $color-text;
    font-family: $font-paragraph;

    h1, h2, h3, h4, h5, h6, p, ul, li {
      margin: 0;
      padding: 0;
      color: $color-text;
      font-family: $font-paragraph;
    }
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.2em;
    }
    h3 {
      font-size: 1.0em;
    }
  }

  .btn-group {
    margin: 5px 0;
    padding: 0;
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
    button:not(:last-of-type) {
      border-right: none;
    }
  }
}
