<section class="block">
<div class="question container" ng-repeat="question in questions">

  <div class="votes">
    <div class="vote up left">
      <img src="img/thumb_up.png" alt="+" class="thumb" />
      <div class="amount">{{question.votes_up}}</div>
    </div>
    <div class="vote down right">
      <img src="img/thumb_down.png" alt="-" class="thumb" />
      <div class="amount">{{question.votes_down}}</div>
    </div>
  </div>

  <div class="message">
    <header>
      <h1 class="topic">{{question.topic}}</h1>
      <ul class="tags">
        <li ng-repeat="tag in question.tags">{{tag}}</li>
      </ul>
    </header>

    <div class="content">
      <p>{{question.content}}</p>
    </div>

    <div class="comments">
      <h4>Kommentit</h4>
      <div ng-repeat="comment in question.comments" class="comment">
        <p class="date">{{comment.date}}</p>
        <p class="content">{{comment.content}}</p>
        <p class="username">{{comment.username}}</p>
      </div>
    </div>

    <div class="answers">
      <h3>Vastaukset</h3>
      <div ng-repeat="answer in question.answers" class="answer">
        <header>
          <p class="user">{{answer.username}}</p>
        </header>
        <div class="content">
          <p class="content">{{answer.content}}</p>
        </div>
      </div><!--/answer-->
    </div>

    <footer>
      <div class="buttons">
        <ul>
          <li><a href="#">Vastaa</a></li>
          <li><a href="#">Kommentoi</a></li>
        </ul>
      </div>
      <div class="asked">asked <span class="date-posted">{{question.date}}</span> by <span class="username"><a href="#">{{question.user.username}}</a></span></div>
    </footer>
  </div><!--/message-->

</div>
</section>
